<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      .containerdiv { float: left; position: relative; width: 1024px; height: 1024px; }
      .cornerimage { position: absolute; top: 0; left: 0; border: 0; }
    </style>
  </head>

  <body>
    <h1>GOES Truecolor for {{ date.strftime('%B %d, %Y') }} </h1>
    <p>
      Select a date:
      <form action="/" method="post">
      <input type="date" id="start" name="date" value="{{date.strftime('%Y-%m-%d')}}" min="2019-01-01" max="2019-05-20">
      <input type="submit">
      </form>
    </p>
    <p>
{% set blobs = site_manager.list_blobs(count=24) %}
{% set count = blobs|length %}
<svg width="1024px" height="1074px">
  <style>
.heavy { font: normal 30px sans-serif; }
@keyframes points {
0% { opacity: 1; }
{{100 / count}}% { opacity: 0; }
}
{% for i, _, _ in blobs %}
.Frame-{{i}} { animation: points {{count}}s {{i}}s infinite normal step-end forwards; }
{% endfor %}
</style>
{% for i, t, src in blobs %}
<text class="heavy Frame-{{i}}" style="opacity:0;" x=10 y=30>{{ t.strftime('%Y/%m/%d %H:%M:%S') }}</text>
<image class="Frame-{{i}}" xlink:href="{{ src }}" x=0 y=36 width="1024px" height="1024px" style="opacity:0;"/>
{% endfor %}
</svg>
{% for i, t, src in blobs %}
<img src="{{ src }}">
{% endfor %}
    </p>
  </body>
</html>
