{% set blobs = site_manager.list_blobs() %}
{% set count = blobs|length %}
{% if count %}
   {% set _, t0, src0 = blobs[0] %}
{% endif %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      .containerdiv { float: left; position: relative; width: 1024px; height: 1024px; }
      .cornerimage { position: absolute; top: 0; left: 0; border: 0; }
    </style>
    <script>
      var title, image, prevTime;
      var stepIndex = 0;
      var blobs = [
      {% for _, t, src in blobs %}
        [ "{{ t.strftime('%Y/%m/%d %H:%M:%S') }}", "{{ src }}" ],
      {% endfor %}
      ];
      
      function handleAnimate(currentTime) {
        requestAnimationFrame(handleAnimate);
        if (!prevTime) {
          prevTime = currentTime;
          return;
        }
        var dt = currentTime - prevTime;
        if (dt < 100 || !image.complete) {
          return;
        }
        prevTime = currentTime;

	// Run one step of animation.
	stepIndex = (stepIndex + 1) % {{ count }};
	title.textContent = blobs[stepIndex][0];
	image.src = blobs[stepIndex][1];
      }
      function init() {
        title = document.getElementById("title");
        image = document.getElementById("image");
        requestAnimationFrame(handleAnimate);
      }
    </script>
  </head>

  <body {% if count %} onload="init();" {% endif %}>
    <h1>GOES Truecolor for {{ date.strftime('%B %d, %Y') }} </h1>
    <p>
      Select a date:
      <form action="/" method="post">
      <input type="date" id="start" name="date" value="{{date.strftime('%Y-%m-%d')}}" min="2019-01-01" max="2019-05-20">
      <input type="submit">
      </form>
    </p>
    {% if count %}
      <h1><span id="title">{{ t0.strftime('%Y/%m/%d %H:%M:%S') }}</span></h1>
      <p><img id="image" src="{{ src0 }}"></p>
    {% endif %}
  </body>
</html>
